[color]
    diff = auto
    grep = auto
    status = auto
    branch = auto

[alias]
    st = status
    up = pull --rebase
    lg = log --graph
    ls = ls-files
    f = fetch -p

[user]
    name = Emanuel Steen
    email = emanuel.steen@gemalto.com

[diff]
    tool = meld

[push]
    default = current

[log]
    decorate

[alias]
    lg = log --graph
    ls = ls-files

